body {
  margin: 0;
  font-family: Arial;
}

header {
  background: #211ae8;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
}

header nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.hero {
  background: #f3f3f3;
  padding: 50px;
  text-align: center;
}

.services {
  padding: 40px;
  text-align: center;
}

.card {
  background: #e1eafb;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  width: 250px;
}
